<!DOCTYPE html>
<html>
<head>
    <title>Editar Tarea</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Editar Tarea</h1>
    
    <form action="/edit/{{ tarea[0] }}" method="POST">
        <input type="text" name="titulo" value="{{ tarea[1] }}" required>
        <input type="text" name="descripcion" value="{{ tarea[2] }}">
        <button type="submit">Guardar Cambios</button>
    </form>

    <a href="/">Cancelar</a>
</body>
</html>
